:root {
  /* text colors */
  --logo-color: #4d5ae5;
  --primary-color-heading: #2e2f42;
  --secondary-color-par: #434455;

  /* fonts  */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* background colors */
  --accent-color: #404bbf;
  --background-color: #ffffff;

  --svg-icon-color: #f4f4fd;

  --transition-effect: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ============= Inherited features ============= */

body {
  font-family: var(--primary-font);
  color: var(--secondary-color-par);
  background-color: var(--background-color);
}
/* ============= Default styles reset ============ */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
  margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

/* .container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;
  } */

.section {
  padding: 120px 0px;
}

.header-two {
  margin-bottom: 72px;
}

/* ================ Components ================== */

.header-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color-heading);
}

.header-three-align {
  text-align: center;
  margin-bottom: 8px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color-par);
}

.description-align {
  text-align: center;
  margin-bottom: 8px;
}

.description-footer {
  color: #f4f4fd;
}

.logo-part-footer {
  color: #f4f4fd;
}

.logo-link {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.logo-part {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color-heading);
}
                   /* ********************MOBILE************* */
/* ============ MOBILE HEADER ===============  */

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;

  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .address {
    display: none;
  }

  .menu {
    display: none;
  }
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e7e9fc;
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 22px;
}

.mobile-burger {
  fill: #2e2f42;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: #fff;
  z-index: 999;

  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08); 

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-close {
  position: absolute;
  top: 19px;
  right: 28px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid #2e2f42;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--transition-effect),
    fill var(--transition-effect);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: var(--accent-color);
  fill: white;
}


/* ==================MOBILE MENU===================================== */

.mobile-menu-link {
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.9;
  letter-spacing: 0.02em;
  color: var(--primary-color-heading); 

  transition: color var(--transition-effect);
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-pages {
  margin-bottom: 284px;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--accent-color);
}

.mobile-contact-info-tel {
font-family: var(--primary-font);
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 0.95;
letter-spacing: 0.02em;
color: #434455;

transition: color var(--transition-effect);
}

.mobile-contact-info-mail {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  
  transition: color var(--transition-effect);
}

.mobile-menu-address-tel {
  margin-bottom: 40px;
}

.mobile-contact-info:hover,
.mobile-contact-info:focus {
  color: var(--accent-color);
}

.mobile-address {
  margin-bottom: 48px;

}

.sm-footer {
  display: flex;
  gap: 56px;
}

.sm-list-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--logo-color);
  justify-content: center;
  align-items: center;

  transition: background-color var(--transition-effect);
}

.sm-list-link:hover,
.sm-list-link:focus {
  background-color: var(--accent-color);
}

.sm-list-icon {
  fill: var(--svg-icon-color);
}


/* ============================HERO=========================== */

.hero {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: #2e2f42;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding: 112px 0px;
  

}

@media screen and (max-width: 767px) {
.hero {
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url("../images/adaptive/hero.jpg");

  max-width: 428px;
 }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
      url("../images/adaptive/hero@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 496px;
}
}

@media screen and (min-width: 1158px) {
  .hero {
  padding: 188px 0px;
}
}

.main-title {
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

@media screen and (min-width: 428px) {
.main-title {
  font-size: 36px;
  line-height: 1.11;
  max-width: 320px;
}
}

@media screen and (min-width: 768px) {
  .main-title {
  font-size: 56px;
  line-height: 1.07;
  max-width: 496px;
  margin-bottom: 36px;
}
}

@media screen and (min-width: 1158px) {
  .main-title {
  margin-bottom: 48px;
}
}

.hero-btn {
  font-family: var(--primary-font);
  background-color: var(--logo-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;

  transition: background-color var(--transition-effect);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color);
}

/* MODAL WINDOW */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;
  transition: opacity var(--transition-effect),
    visibility var(--transition-effect);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-effect);

  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 72px 24px 24px;
}

@media screen and (max-width: 767px) {
  .modal {
    min-width: 392px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    min-width: 408px;
  }
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--transition-effect),
    color var(--transition-effect);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--accent-color);
  color: white;
}

.modal-icon {
  fill: currentColor;
}

/* ***** HERO FORM ***** */


.hero-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-text {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;

}

.hero-label {
  display: block;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
  margin-bottom: 4px;
  text-align: left;

}

.hero-label-name {
  letter-spacing: 0.04em;
}

.hero-form-input {
  margin: 0;
  padding: 0;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 38px;
  padding-right: 4px;

  transition: border var(--transition-effect);
}

.hero-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2E2F42;
  pointer-events: none;

  transform: translatey(-50%);

  transition: fill var(--transition-effect);
}

.input-icon-positioning {
  position: relative;
  display: block;

}

.hero-textarea {
  resize: none;
  padding: 8px 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  width: 100%;

  transition: border var(--transition-effect);
}

.hero-form-field-textarea {
  margin-bottom: 16px;
}

.hero-textarea:focus {
  border: 1px solid var(--logo-color);
  outline: none;

}

.hero-textarea::placeholder {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  margin: 0;
}

.hero-policy {
    display: flex;
    align-items: center;
    
}

.checkbox-link {
  color: #4D5AE5;
}

.checkbox-line {
  margin: 0 0 24px 0;
}

.hero-label-checkbox {
  margin-bottom: 0;
}

.hero-policy::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;  
  cursor: pointer; 
  margin-right: 8px;

  transition: border var(--transition-effect);
}

.checkbox:checked + .hero-policy::before {
background-color: var(--accent-color);
background-image: url(../images/svg/checkbox.svg);
background-repeat: no-repeat;
background-position: center;

}

.checkbox:focus + .hero-policy::before {
 border: 1px solid var(--accent-color);
  
  }

.hero-form-button {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-self: center;
  padding: 16px 32px;
  letter-spacing: 0.04em;
  color: #ffffff;

  min-width: 169px;
  height: 56px;
  background: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: background-color var(--transition-effect);
}

.hero-form-button:hover,
.hero-form-button:focus {
  background-color: var(--accent-color); 
}

.hero-form-input:focus {
  border: 1px solid var(--logo-color);
  outline: none;
 
}

.hero-form-input:focus + .hero-form-icon {
  fill: var(--logo-color);
}
 
/* ============================ Benefits ======================= */

@media screen and (max-width: 1157px) {
.our-benefits-svg {
  display: none;
}
  .section-benefits {
  padding-top: 96px;
  padding-bottom: 96px;
  }

  .description-mobile {
     font-weight: 500;

  }

    .header-three {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: var(--primary-color-heading);
  }
 }

 @media screen and (max-width: 767px) {
  .header-three {
    text-align: center;
  }
  .description-mobile {
    margin-bottom: 72px;
  }
  .description-mobile-last {
    margin-bottom: 0px;
  }
 }

 .header-three {
  margin-bottom: 8px;
}

/* ========================== WORKS ============================ */

@media screen and (max-width: 1157px) {
  .section-works {
    display: none;
  }
}

/* ============================ EMPLOYEES ===================== */

.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-color-heading);
}

@media screen and (max-width: 1157px) {
  .section {
    padding: 96px 0;
  }
}

.section-employee-list-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.employee-card-content {
  padding: 32px 0;
}

.section-employees {
  background-color: #f4f4fd;
}

.section-employee-list-item {
  background-color: #ffffff;
}

.sm-employees-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.sm-list-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--logo-color);
  justify-content: center;
  align-items: center;

  transition: background-color var(--transition-effect);
}

.sm-list-link:hover,
.sm-list-link:focus {
  background-color: var(--accent-color);
}

.sm-list-icon {
  fill: var(--svg-icon-color);
}



/* ******************* TABLET ******************* */

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .menu-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;

    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
      url("../images/adaptive/hero-tablet.jpg");
   }
  }
  
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url("../images/adaptive/hero-tablet@2x.jpg");
    }
  }

  /* ============================== DESCTOP ============================== */

  @media screen and (min-width: 1158px) {
    .hero {
      max-width: 1440px;

      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url("../images/background-image/people-office-1.jpg");
     }
    }
    
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero {
        
        background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
          url("../images/adaptive/people-office\ 1@2x.jpg");
      }
    }